<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.espush.app">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".app.EspushApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity">

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".HelpActivity"></activity>
        <activity android:name=".DeviceListActivity"></activity>
        <activity android:name=".IOListActivity"></activity>
        <activity
            android:name=".SearchActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".qrcode.QRCodeActivity"></activity>
        <activity
            android:name="com.espressif.iot.esptouch.demo_activity.EsptouchDemoActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <service android:name=".search.udp.UdpService"></service>
    </application>

</manifest>
